apiVersion: apps/v1
kind: Deployment
metadata:
  name: apigateway
  namespace: payment-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: apigateway
  template:
    metadata:
      labels:
        app: apigateway
    spec:
      containers:
      - name: apigateway
        image: payment-gateway-sqlx/apigateway:latest
        imagePullPolicy: Never
        envFrom:
        - configMapRef:
            name: app-env-config
        ports:
        - containerPort: 5000
        volumeMounts:
        - name: logs
          mountPath: /var/log/app
        readinessProbe:
          httpGet:
            path: /api/healthchecker
            port: 5000
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /api/healthchecker
            port: 5000
          initialDelaySeconds: 30
          periodSeconds: 10
      volumes:
      - name: logs
        emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: apigateway
  namespace: payment-gateway
spec:
  selector:
    app: apigateway
  ports:
  - port: 5000
    targetPort: 5000
  type: ClusterIP