apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  namespace: payment-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        app: jaeger
    spec:
      containers:
      - name: jaeger
        image: jaegertracing/all-in-one:latest
        env:
        - name: COLLECTOR_OTLP_ENABLED
          value: "true"
        ports:
        - containerPort: 16686
        - containerPort: 14250
        - containerPort: 4317

---
apiVersion: v1
kind: Service
metadata:
  name: jaeger
  namespace: payment-gateway
spec:
  selector:
    app: jaeger
  ports:
  - name: ui
    port: 16686
    targetPort: 16686
    nodePort: 31686
  - name: collector
    port: 14250
    targetPort: 14250
  - name: otlp
    port: 4317
    targetPort: 4317
  type: NodePort