apiVersion: apps/v1
kind: Deployment
metadata:
  name: loki
  namespace: payment-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      labels:
        app: loki
    spec:
      containers:
      - name: loki
        image: grafana/loki:3.5.8
        ports:
        - containerPort: 3100
        volumeMounts:
        - name: loki-config
          mountPath: /etc/loki/local-config.yaml
          subPath: local-config.yaml
        - name: loki-storage
          mountPath: /loki
        command: ["/usr/bin/loki", "-config.file=/etc/loki/local-config.yaml"]
      volumes:
      - name: loki-config
        configMap:
          name: loki-config
      - name: loki-storage
        persistentVolumeClaim:
          claimName: loki-pvc

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: loki-pvc
  namespace: payment-gateway
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi

---
apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: payment-gateway
spec:
  selector:
    app: loki
  ports:
  - port: 3100
    targetPort: 3100
    nodePort: 30010
  type: NodePort