apiVersion: apps/v1
kind: Deployment
metadata:
  name: user
  namespace: payment-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user
  template:
    metadata:
      labels:
        app: user
    spec:
      containers:
      - name: user
        image: payment-gateway-sqlx/user:latest
        imagePullPolicy: Never
        envFrom:
        - configMapRef:
            name: app-env-config
        ports:
        - containerPort: 50059
        volumeMounts:
        - name: logs
          mountPath: /var/log/app
      volumes:
      - name: logs
        emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: user
  namespace: payment-gateway
spec:
  selector:
    app: user
  ports:
  - name: grpc
    port: 50059
    targetPort: 50059
  - name: metrics
    port: 8089
    targetPort: 8089
  type: ClusterIP