apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgbouncer
  namespace: payment-gateway
spec:
  replicas: 3
  strategy:
      type: RollingUpdate
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 0
  selector:
    matchLabels:
      app: pgbouncer
  template:
    metadata:
      labels:
        app: pgbouncer
    spec:
      containers:
      - name: pgbouncer
        image: edoburu/pgbouncer:latest
        env:
        - name: DB_HOST
          value: "postgres"
        - name: DB_PORT
          value: "5432"
        - name: DB_USER
          value: "postgres"
        - name: DB_PASSWORD
          value: "postgres"
        - name: DB_NAME
          value: "example_sqlx_payment_gateway"
        - name: AUTH_TYPE
          value: "scram-sha-256"
        - name: POOL_MODE
          value: "transaction"
        - name: MAX_CLIENT_CONN
          value: "3000"
        - name: DEFAULT_POOL_SIZE
          value: "50"
        - name: MIN_POOL_SIZE
          value: "10"
        - name: RESERVE_POOL_SIZE
          value: "25"
        - name: RESERVE_POOL_TIMEOUT
          value: "5"
        - name: SERVER_RESET_QUERY
          value: "DISCARD ALL"
        - name: ADMIN_USERS
          value: "postgres"
        - name: STATS_USERS
          value: "postgres"
        ports:
        - containerPort: 5432
        livenessProbe:
          exec:
            command:
            - pg_isready
            - -h
            - postgres
            - -p
            - "5432"
            - -U
            - postgres
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          exec:
            command:
            - pg_isready
            - -h
            - postgres
            - -p
            - "5432"
            - -U
            - postgres
          initialDelaySeconds: 5
          periodSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
  name: pgbouncer
  namespace: payment-gateway
spec:
  selector:
    app: pgbouncer
  ports:
  - port: 5432
    targetPort: 5432
  type: ClusterIP